body {
    font-family: "Victor Mono", "Courier New", "Consolas";
}

h6 {
    font-weight: 700;
    font-display: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fafafa;
}

.logo {
    height: 75px;
}

.container {
    margin: 20px auto;
    padding: 20px;
    width: auto;
    border: 1px solid #fafafa;
    border-radius: 5px;
}


.calendarHeader {
    border-bottom: 1px solid #fafafa;
    justify-content: space-between;
    width: auto;
}

.appointment {
    font-weight: 200;
}

.appointment:hover {
    background-color: #ffd4c5;
    cursor: pointer;
}